<!doctype html>
<html lang="ja">
 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <!-- レクチャー時点のalpha版を使用しています。betaや安定版を使用する場合はcssクラスが変更になっている可能性がありますので、適時修正してください -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
        <title>Really site {% block title %}{% endblock title %}</title>
</head>
 
<body class="vh-100 d-flex align-items-center justify-content-center bg-light">
 
    {% block content %}
    {% endblock %}
    
</body>
</html>