{% extends 'mysite/base.html' %}
{% block title %}
TOPページ
{% endblock title %}


{% block top_content %}
{% include 'snippets/top_post.html' %}
{% endblock top_content %}

{% block content %}
 
<main class="container">
    <div class="row">
        <div class="col-md-8 mb-4 md:mb-0">
            <h3 class="pb-4 font-italic border-bottom">
                Django Lesson
            </h3>
            {% for article in articles %}
            <div class="blog-post">
                <div class="px-4">
                    <h2 class="blog-post-title">{{ article.title }}</h2>
                    <p class="blog-post-meta mb-0">{{ article.create_at }} by 
                        <a href="#">{{ article.author }}</a>
                    </p>
                    <div style="text-align: right;">   
                        <a href="{% url 'article' article.pk %}">続きを読む</a>
                    </div>
                </div>
                <hr>
            </div>
            {% endfor %}
            <nav class="blog-pagination">
                <a class="btn btn-outline-primary" href="{% url 'blog_list' %}">ブログ一覧</a>
                <a class="btn btn-outline-primary" href="{% url 'signup' %}">新規登録</a>
            </nav>
        </div>
        
        {% include 'snippets/sidebar.html' %}
    </div>
</main>
 
{% endblock %}
