{% extends 'mysite/base.html' %}
 
{% block content %}
 
<main class="container">
    <div class="row">
        <div class="col-md-8">
        <h3 class="pb-4 mb-4 font-italic border-bottom">
            マイページ
        </h3>
 
        <form class="row g-3" method="POST">
            {% csrf_token %}
            <div class="col-12">
                <label class="form-label">ユーザー名（公開されます）</label>
                <input type="text" class="form-control" id="id_username" name="username" placeholder="煉獄 杏寿郎">
              </div>
 
              <div class="col-md-2">
                <label class="form-label">郵便番号</label>
                <input type="text" class="form-control" id="id_zipcode" name="zipcode">
              </div>
              <div class="col-md-4">
                <label class="form-label">都道府県</label>
                <select id="id_prefecture" name="prefecture" class="form-select">
                  <option selected>選択...</option>
                  <option value="hokkaido">北海道</option>
                  <option value="aomori">青森県</option>
                  <option value="akita">秋田県</option>
                  <option value="iwate">岩手県</option>
                  <option value="fukushima">福島県</option>
                  <option value="yamagata">山形県</option>
                  <option value="niigata">新潟県</option>
                  <option value="gunma">群馬県</option>
                  <option value="saitama">埼玉県</option>
                  <option value="tochigi">栃木県</option>
                  <option value="ibaraki">茨城県</option>
                  <option value="chiba">千葉県</option>
                  <option value="tokyo">東京都</option>
                  <option value="kanagawa">神奈川県</option>
                  <option value="shizuoka">静岡県</option>
                  <option value="yamanashi">山梨県</option>
                  <option value="nagano">長野県</option>
                  <option value="toyama">富山県</option>
                  <option value="ishikawa">石川県</option>
                  <option value="fukui">福井県</option>
                  <option value="gifu">岐阜県</option>
                  <option value="aichi">愛知県</option>
                  <option value="mie">三重県</option>
                  <option value="wakayama">和歌山県</option>
                  <option value="nara">奈良県</option>
                  <option value="kyoto">京都府</option>
                  <option value="osaka">大阪府</option>
                  <option value="hyogo">兵庫県</option>
                  <option value="tottori">鳥取県</option>
                  <option value="shimane">島根県</option>
                  <option value="yamaguchi">山口県</option>
                  <option value="hiroshima">広島県</option>
                  <option value="okayama">岡山県</option>
                  <option value="kagawa">香川県</option>
                  <option value="tokushima">徳島県</option>
                  <option value="kochi">高知県</option>
                  <option value="ehime">愛媛県</option>
                  <option value="oita">大分県</option>
                  <option value="miyazaki">宮崎県</option>
                  <option value="kagoshima">鹿児島県</option>
                  <option value="kumamoto">熊本県</option>
                  <option value="fukuoka">福岡県</option>
                  <option value="saga">佐賀県</option>
                  <option value="nagasaki">長崎県</option>
                  <option value="okinawa">沖縄県</option>
                </select>
              </div>
              <div class="col-md-6">
                <label class="form-label">市区</label>
                <input type="text" class="form-control" id="id_city" name="city">
              </div>
              
            <div class="col-12">
              <label class="form-label">住所</label>
              <input type="text" class="form-control" id="id_address" name="address" placeholder="">
            </div>
 
            <div class="col-12">
              <button type="submit" class="btn btn-success">保存</button>
            </div>
          </form>
 
        </div>
 
        {% include 'snippets/sidebar.html' %}
 
    </div>
</main>
{% endblock content %}