{% extends 'mysite/base.html' %}
 
{% block content %}
 
<main class="container">
    <div class="row">
        <div class="col-md-8">
        <h3 class="pb-4 mb-4 font-italic border-bottom">
            マイページ
        </h3>
 
        <form class="row g-3" method="POST">
            {% csrf_token %}
            <div class="col-12">
                <label class="form-label">ユーザー名（公開されます）</label>
                <input type="text" class="form-control" id="id_username" name="username" placeholder="煉獄 杏寿郎" value="{{ user.profile.username }}">
              </div>
 
              <div class="col-md-2">
                <label class="form-label">郵便番号</label>
                <input type="text" class="form-control" id="id_zipcode" name="zipcode" value="{{ user.profile.zipcode }}">
              </div>
              <div class="col-md-4">
                <label class="form-label">都道府県</label>
                <select id="id_prefecture" name="prefecture" class="form-select">
                  <option selected>選択...</option>
                  <option value="北海道"  {% if user.profile.prefecture == "北海道" %} selected {% endif %}>北海道</option>
                  <option value="青森県"  {% if user.profile.prefecture == "青森県" %} selected {% endif %}>青森県</option>
                  <option value="秋田県"  {% if user.profile.prefecture == "秋田県" %} selected {% endif %}>秋田県</option>
                  <option value="岩手県"  {% if user.profile.prefecture == "岩手県" %} selected {% endif %}>岩手県</option>
                  <option value="福島県"  {% if user.profile.prefecture == "福島県" %} selected {% endif %}>福島県</option>
                  <option value="山形県"  {% if user.profile.prefecture == "山形県" %} selected {% endif %}>山形県</option>
                  <option value="新潟県"  {% if user.profile.prefecture == "新潟県" %} selected {% endif %}>新潟県</option>
                  <option value="群馬県"  {% if user.profile.prefecture == "群馬県" %} selected {% endif %}>群馬県</option>
                  <option value="埼玉県"  {% if user.profile.prefecture == "埼玉県" %} selected {% endif %}>埼玉県</option>
                  <option value="栃木県"  {% if user.profile.prefecture == "栃木県" %} selected {% endif %}>栃木県</option>
                  <option value="茨城県"  {% if user.profile.prefecture == "茨城県" %} selected {% endif %}>茨城県</option>
                  <option value="千葉県"  {% if user.profile.prefecture == "千葉県" %} selected {% endif %}>千葉県</option>
                  <option value="東京都"  {% if user.profile.prefecture == "東京都" %} selected {% endif %}>東京都</option>
                  <option value="神奈川県"  {% if user.profile.prefecture == "神奈川県" %} selected {% endif %}>神奈川県</option>
                  <option value="静岡県"  {% if user.profile.prefecture == "静岡県" %} selected {% endif %}>静岡県</option>
                  <option value="山梨県"  {% if user.profile.prefecture == "山梨県" %} selected {% endif %}>山梨県</option>
                  <option value="長野県"  {% if user.profile.prefecture == "長野県" %} selected {% endif %}>長野県</option>
                  <option value="富山県"  {% if user.profile.prefecture == "富山県" %} selected {% endif %}>富山県</option>
                  <option value="石川県"  {% if user.profile.prefecture == "石川県" %} selected {% endif %}>石川県</option>
                  <option value="福井県" {% if user.profile.prefecture == "福井県" %} selected {% endif %}>福井県</option>
                  <option value="岐阜県"  {% if user.profile.prefecture == "岐阜県" %} selected {% endif %}>岐阜県</option>
                  <option value="愛知県"  {% if user.profile.prefecture == "愛知県" %} selected {% endif %}>愛知県</option>
                  <option value="三重県"  {% if user.profile.prefecture == "三重県" %} selected {% endif %}>三重県</option>
                  <option value="和歌山県"  {% if user.profile.prefecture == "和歌山県" %} selected {% endif %}>和歌山県</option>
                  <option value="奈良県"  {% if user.profile.prefecture == "奈良県" %} selected {% endif %}>奈良県</option>
                  <option value="京都府"  {% if user.profile.prefecture == "京都府" %} selected {% endif %}>京都府</option>
                  <option value="大阪府"  {% if user.profile.prefecture == "大阪府" %} selected {% endif %}>大阪府</option>
                  <option value="兵庫県"  {% if user.profile.prefecture == "兵庫県" %} selected {% endif %}>兵庫県</option>
                  <option value="鳥取県"  {% if user.profile.prefecture == "鳥取県" %} selected {% endif %}>鳥取県</option>
                  <option value="島根県"  {% if user.profile.prefecture == "島根県" %} selected {% endif %}>島根県</option>
                  <option value="山口県"  {% if user.profile.prefecture == "山口県" %} selected {% endif %}>山口県</option>
                  <option value="広島県"  {% if user.profile.prefecture == "広島県" %} selected {% endif %}>広島県</option>
                  <option value="岡山県"  {% if user.profile.prefecture == "岡山県" %} selected {% endif %}>岡山県</option>
                  <option value="香川県"  {% if user.profile.prefecture == "香川県" %} selected {% endif %}>香川県</option>
                  <option value="徳島県"  {% if user.profile.prefecture == "徳島県" %} selected {% endif %}>徳島県</option>
                  <option value="高知県"  {% if user.profile.prefecture == "高知県" %} selected {% endif %}>高知県</option>
                  <option value="愛媛県"  {% if user.profile.prefecture == "愛媛県" %} selected {% endif %}>愛媛県</option>
                  <option value="大分県"  {% if user.profile.prefecture == "大分県" %} selected {% endif %}>大分県</option>
                  <option value="宮崎県"  {% if user.profile.prefecture == "宮崎県" %} selected {% endif %}>宮崎県</option>
                  <option value="鹿児島県"  {% if user.profile.prefecture == "鹿児島県" %} selected {% endif %}>鹿児島県</option>
                  <option value="熊本県"  {% if user.profile.prefecture == "熊本県" %} selected {% endif %}>熊本県</option>
                  <option value="福岡県"  {% if user.profile.prefecture == "福岡県" %} selected {% endif %}>福岡県</option>
                  <option value="佐賀県"  {% if user.profile.prefecture == "佐賀県" %} selected {% endif %}>佐賀県</option>
                  <option value="長崎県"  {% if user.profile.prefecture == "長崎県" %} selected {% endif %}>長崎県</option>
                  <option value="沖縄県"  {% if user.profile.prefecture == "沖縄県" %} selected {% endif %}>沖縄県</option>
                  
                </select>
              </div>
              <div class="col-md-6">
                <label class="form-label">市区</label>
                <input type="text" class="form-control" id="id_city" name="city" value="{{ user.profile.city }}">
              </div>
              
            <div class="col-12">
              <label class="form-label">住所</label>
              <input type="text" class="form-control" id="id_address" name="address" placeholder=""  value="{{ user.profile.address }}">
            </div>
 
            <div class="col-12">
              <button type="submit" class="btn btn-success">保存</button>
            </div>
          </form>
 
        </div>
 
        {% include 'snippets/sidebar.html' %}
 
    </div>
</main>
{% endblock content %}